html {
    height: 100%;
}

body {
    background: url(../Images/Wallpaper.jpg) repeat !important;
    background-repeat: no-repeat !important;
    background-color: #000 !important;
    background-position: center top !important;
    background-attachment: fixed !important;
}

.navigation {
    top: 0;
    position: fixed !important;
    z-index: 3;
    width: inherit !important;
}

.main {
    padding-top: 45px;
}

.links-nav {
    width:50px;
    -webkit-transition: width 1s ease; /* Safari */
    -moz-transition: width 1s ease;
    -ms-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;
}

.links-nav:hover {
    width: 60px;
}